<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}
            Welcome to Selma's Market Place !
        {% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('CSS/main.css') }}" />
        {% endblock %}
        
    </head>
    <body>
        <section class="header">
            <nav class="menu">
                <ul>
                    <li><a class="active" href="/register">S'inscrire</a></li>
                    <li><a class="active" href="/login">Connexion</a></li>
                    <li><a class="active" href="Rechercher">Rechercher</a></li>
                </ul>

            </nav>
        </section>
        <main>  
        {% block body %}
        
        {% endblock %}
        </main>

        <footer>
            <p> Contact: </p>
            <a href="muzevicselma34@gmail.com">muzevicselma34@gmail.com</a>
            <a href="https://linkedin.com/in/selma-muzevic/">LinkedIN</a>
            <a href="https://github.com/SelmaMuzevic/">GitHub</a>
        </footer>
        {% block javascripts %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
