<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('CSS/main.css') }}" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section class="header">
            <nav class="menu">
                <ul>
                    <li style="float:right"><a class="active" href="#S'inscrire">S'inscrire</a></li>
                    <li style="float:right"><a class="active" href="#Connexion">Connexion</a></li>
                    <li style="float:right"><a class="active" href="#Rechercher">Rechercher</li>
                </ul>

            </nav>
        </section>
        <main>  
        {% block body %}
        
        {% endblock %}
        </main>

        <footer>
            <p> Contact: </p>
            <a href="muzevicselma34@gmail.com">muzevicselma34@gmail.com</a>
            <a href="https://linkedin.com/in/selma-muzevic/">LinkedIN</a>
            <a href="https://github.com/SelmaMuzevic/">GitHub</a>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
