h1,
h2,
p {
    width: 100%;
    text-align: center;
}

h2 {
    box-shadow: 5px 5px 5px black;
    border-radius: 50px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: lightgrey;
    min-height: 100vh;
}

.menu {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.fos_user_registration_register {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    width: initial;
    text-align: center;
    background: violet;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: initial;
    padding: 20px;
    background: violet;
    border-radius: 15px;
}

.post-form {
    width: 20%;
}

.panier {
    height: 120px;
    box-shadow: 5px 5px 5px black;
    border-radius: 60px;
    text-align: center;
    padding: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: violet;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blueviolet;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: lightgrey;
    width: 100%;
    margin: 0;
}

footer {
    width: 100%;
    height: 100px;
    background: violet;
    text-align: center;
    display: flex;
    flex-direction: column;
}