h1,
h2,
p {
    width: 100%;
    text-align: center;
}

h2 {
    border-radius: 5px;
    margin-left: -50px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 200;
}

.recherche_p {
    background-color: mistyrose;
    color: black;
    cursor: pointer;
    padding: 10px;
}

#search #search-btn:hover {
    background-color: mistyrose;
    color: black;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: lightgrey;
    min-height: 100vh;
}

.menu {
    width: 100%;
}

.nav {
    display: flex;
}

.navbar-default {
    background-color: mistyrose;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 18px 25px;
    color: black;
}

.categorie-vetements {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.fos_user_registration_register {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 40%;
    background: whitesmoke;
}

.form-group {
    margin-bottom: 2px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: initial;
    padding: 20px;
    background: whitesmoke;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.post-form {
    width: 20%;
}

.panier {
    height: 120px;
    box-shadow: 5px 5px 5px black;
    border-radius: 60px;
    text-align: center;
    padding: 2em;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: mistyrose;
    display: flex;
    justify-content: flex-end;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
}

li a:hover {
    background-color: blueviolet;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: lightgrey;
    width: 100%;
    margin: 0;
}

footer {
    height: 100px;
    background: mistyrose;
    text-align: center;
    display: flex;
    flex-direction: column;
}